.page-header {
    background: $grey-light;
    padding: $l-size 0;
    margin-bottom: $l-size;
}

.page-header__title {
    font-weight: 300;
    font-size: $l-size;
    margin: 0;

    span {
        font-weight: bold;
    }
}

.page-header__actions {
    margin-top: $m-size;
}