// Font sizes
$font-size-l: 1.8rem; 
$font-size-s: 1.4rem; 
// Spacing and Size
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
// colours
$dark-blue: #364051;
$dark-grey: #333333;
$blue: #3491c4;
$white: #fff;
$grey: #888888;
$grey-light: #f7f7f7;
// media queries
$desktop-breakpoint: 45rem;